* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #C7C7C3;
}

h1, h2, p, ol, li {
    font-family: 'IosevkaExtralightExtended';
    font-weight: normal;
    font-style: normal;
}

h2 {
    font-weight: bold;
    font-size: 25px;
}

.trapo-logo {
    display: block;
    margin-left: auto;
    margin-top: 20px;
    margin-right: 10px;
    width: 200px;
    max-width: 200px;
}

#title {
    text-align: center;
    font-weight: bold;
    font-size: 45px;
    margin-bottom: 45px;
}

.tooltip-container{
    display: inline-block;
    vertical-align: middle;
    width: 600px;
    height: 300px;
    background-color: #ED6B00;
    border-color: #121420;
    padding: 20px;
    border-radius: 50px;
    margin: 20px;
}

.tooltip-svg {
    display: inline-block;
    vertical-align: middle;
    max-width: 64px;
    max-height: 64px;
    width: 64px;
}

.tooltip-headline {
    display: inline-block;
    vertical-align: middle;
    margin-left: 25px;
    text-decoration: underline;
    margin-right: auto;
    font-size: 30px;
}

#list-explanation {
    display: inline-block;
    vertical-align: middle;
    font-size: 17px;
    font-weight: bold;
    margin-top: 25px;
    margin-left: 20px;
}

.list-explanation-list {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 50px;
}

.list-explanation-point {
    margin-top: 10px;
    margin-right: auto;
}