* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../assets/img/background.jpg);
    background-size: cover;
    background-attachment: fixed;
}

h1, h2, p, ol, li {
    font-family: 'GoogleSans', sans-serif;
    font-weight: normal;
    font-style: normal;
}

h2 {
    font-weight: bold;
    font-size: 25px;
}

.trapo-logo {
    display: block;
    margin-left: auto;
    margin-top: 20px;
    margin-right: 10px;
    width: 200px;
    max-width: 200px;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
}

#title {
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 45px;
    border-radius: 20px;
    background-color: lightgray;
    width: 350px;
}

.tooltip-container{
    display: inline-block;
    vertical-align: middle;
    width: 600px;
    height: 100%;
    background-color: #ED6B00;
    border-color: #121420;
    padding: 20px;
    border-radius: 50px;
    margin: 20px;
}

.question-container{
    display: inline-block;
    vertical-align: middle;
    width: 600px;
    height: 100%;
    background-color: #ED6B00;
    border-color: #121420;
    padding: 20px;
    border-radius: 50px;
    margin: 20px;
}


.tooltip-svg {
    display: inline-block;
    vertical-align: middle;
    max-width: 64px;
    max-height: 64px;
    width: 64px;
}

.tooltip-headline {
    display: inline-block;
    vertical-align: middle;
    margin-left: 25px;
    text-decoration: underline;
    margin-right: auto;
    font-size: 30px;
}

.list-explanation {
    display: inline-block;
    vertical-align: middle;
    font-size: 17px;
    font-weight: bold;
    margin-top: 25px;
    margin-left: 20px;
}

.list-explanation-list {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 50px;
}

.list-explanation-point {
    margin-top: 10px;
    margin-right: auto;
}

#help-link {
    vertical-align: middle;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
    font-weight: bold;
    background-color: lightgray;
    border-radius: 20px;
    width: 120px;
    padding: 10px;
}

a:link {
    color: black;
}

a:visited {
    text-decoration: underline;
    color: black;
}

a:hover {
    color: black;
}

a:active {
    color: black;
}