* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../assets/img/background.jpg);
    background-size: cover;
    background-attachment: fixed;
}

h1, h2, p, ol, li {
    font-family: 'GoogleSans', sans-serif;
    font-weight: normal;
    font-style: normal;
}

h2 {
    font-weight: bold;
    font-size: 25px;
}

.trapo-logo {
    display: block;
    margin-left: auto;
    margin-top: 20px;
    margin-right: 10px;
    width: 200px;
    max-width: 200px;
    background-color: #fefae0;
    padding: 10px;
    border-radius: 20px;
}

#title {
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 45px;
    border-radius: 20px;
    background-color: #fefae0;
    width: 500px;
}

.sidebar-wrapper {
    position: fixed;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
}

.info-wrapper {
    top: 30%;
}

.question-wrapper {
    top: 38%;
}

.sidebar-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #bc6c25;
    color: black;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    border-radius: 0 15px 15px 0;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 2;
}

.question-wrapper .sidebar-btn {
    background-color: #dda15e;
}


.sidebar-content {
    background-color: #bc6c25;
    padding: 10px 15px;
    width: 200px;
    border-radius: 15px;
    font-family: sans-serif;
    font-size: 14px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);

    /* Der Code für das Ausfahren */
    position: absolute;
    left: 0;
    z-index: 1;

    /* Text aus dem Bild schieben */
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
}

.question-content {
    background-color: #dda15e;
}

.toggle-input{
    display: none;
}

.toggle-input:checked ~ .sidebar-content {
    transform: translateX(40px);
}









